.flex-leo
  flex-direction row
  justify-content space-between
  align-items center

.leo_title
  width 100%
  text-align center
.leo_block
  margin 0 auto
  width 60%
  display flex
  @extends .flex-leo
  p 
    width 40%