-
    var leftContact = '© Раздобаров Д.А , Б9121-09.03.04, 2023-2024'
    var rightContact = 'razdobarov.da@students.dvfu.ru'
block footer
.footer
    .footer_left=leftContact
    .footer_right=rightContact 