block variables
doctype html
html(lang="ru")
head
 link(rel='stylesheet' href='css/main.css')
 link(rel='stylesheet' href='css/header.css')
 link(rel='stylesheet' href='css/leopard.css')
 link(rel='stylesheet' href='css/statisctics.css')
 title #{title}
 body
 block header
 include header
 block content
 block footer
 include footer